<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Nông Sản Xanh | Hàng Việt Nam Chất Lượng Cao</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- App favicon -->
<link rel="shortcut icon" href="/assets/images/nsx1.ico">

<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet"
	href="/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="/css2/style.css">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a th:href="@{'/index'}"><img src="/assets/images/logo.png"
							alt="Nông Sản Xanh"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
	<div class="wrapper"
		style="background-image: url('../images/anhnen1.jpg');">
		<div class="inner">
			<div class="image-holder">
				<img src="/images/anhnen.jpg" alt="">
			</div>
			<form class="text-center">
				<p class="font-weight-bold" th:text="'Email xác thực đã được gửi đến: ' + ${email}"></p>
				<a style="text-decoration: none; color: #7fad39;" class="font-weight-bold" href="https://mail.google.com">Hãy nhấn đây để đến hộp thư</a>
			</form>
		</div>
	</div>
	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<a href="./index.html"><img src="/assets/images/logo.png"
								alt=""></a>
						</div>
						<ul>
							<li>Địa chỉ: 210 Lý Thái Tông</li>
							<li>SĐT: 0236 3788898</li>
							<li>Email: cskh.nongsanxanhh@gmail.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
					<div class="footer__widget">
						<h6>Trang liên kết</h6>
						<ul>
							<li><a href="#">Về chúng tôi</a></li>
							<li><a href="#">Về cửa hàng</a></li>
							<li><a href="#">Mua sắm an toàn</a></li>
							<li><a href="#">Thông tin giao hàng</a></li>
							<li><a href="#">Chính sách bảo mật</a></li>
							<li><a href="#">Sơ đồ trang web </a></li>
						</ul>
						<ul>
							<li><a href="#">Chúng tôi là ai</a></li>
							<li><a href="#">Dịch vụ</a></li>
							<li><a href="#">Dự án</a></li>
							<li><a href="#">Liên hệ</a></li>
							<li><a href="#">Sự đổi mới</a></li>
							<li><a href="#">Lời chứng thực</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__widget">
						<h6>Tham gia Bản tin của chúng tôi ngay</h6>
						<p>Nhập E-mail để nhận được cập nhật mới nhất về cửa hàng mới
							nhất của chúng tôi và ưu đãi đặc biệt.</p>
						<form action="#">
							<input type="text" placeholder="Nhập email của bạn">
							<button type="submit" class="site-btn">Đăng ký</button>
						</form>
						<div class="footer__widget__social">
							<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
								class="fa fa-instagram"></i></a> <a href="#"><i
								class="fa fa-twitter"></i></a> <a href="#"><i
								class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								Đã đăng ký Bản quyền | Website này được thực hiện <i
									class="fa fa-heart" aria-hidden="true"></i> bởi <a href="#"
									target="_blank">NongSanXanh</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment">
							<img src="../images/payment-item.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
</body>
</html>
